@model WebApplication2.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="ImageURL" accept="image/png, image/jpeg"/>
                @*<label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
                 <label asp-for="PostedOn" class="control-label"></label>
                 <input asp-for="PostedOn" class="form-control" />
                 <span asp-validation-for="PostedOn" class="text-danger"></span>
            </div>*@
                <input asp-for="UserId" class="form-control" type="hidden" id="user_id"/>
            <div class="form-group">
                <input type="submit" onclick="AssignUser()" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function AssignUser() {
        var url = window.location.href;
        if (url.includes("UserId")) {
            uid = url.split('=')[1];
            document.getElementById("user_id").value = uid;
            console.log(uid);
        }
    }
</script>